{
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "tabWidth": 4,
  "useTabs": true,
  "bracketSpacing": true,
  "semi": true,
  "embeddedLanguageFormatting": "auto",
  "arrowParens": "always",
  "cursorOffset": -1
}
